<% layout('layout/Boilerplate.ejs')%>
    <link rel="stylesheet" href="/css/post.css">
    <div class="row">
        <form action="/posts" method="POST" id="postForm" novalidate class="w-50 col-6 offset-3">
            <label class="form-label" for="title">Title: </label>
            <input class="form-control" type="text" name="title" id="title" required>
            <label class="form-label" for="body">Body: </label>
            <textarea class="form-control" type="text" name="body" id="body" required></textarea>
            <label for="imgURL" class="form-label">Image URL:</label>
            <input type="text" class="form-control" name="image" id="image">
            <button class="btn btn-success mt-2">Submit Post</button>
        </form>
    </div>

    <% for(let post of posts){ %>
        <div class="post border border-success border-2 m-2 p-4">
            <div class="row">
                <h2 class="col-10">AUTHOR</h2>
                <form action="/posts/<%=post._id%>?_method=DELETE " method="POST" class="col-2 ">
                    <button class="btn btn-danger w-100">Delete</button>
                </form>
            </div>

            <div class="row">
                <h3 class="col-10">

                    <%=post.title%>

                </h3>
                <div class="col-2">
                    <a href="/posts/<%=post._id%>/edit" class="btn btn-info w-100">Edit</a>
                </div>

            </div>

            <p>
                <%=post.body%>
            </p>
            <% if(post.image){ %>
                <img src="<%=post.image%> " alt="" class="rounded border border-dark border-2 post-image">
                <% } %>
        </div>
        <hr>

        <% } %>